/.vscode
/01 Laboratory Exercise 1 - ARG - NetTech2 - Mojica.docx
/01 Laboratory Exercise 1 - ARG - NetTech2 - Mojica.pdf
/05_LabExer_ProgLang_Midterms_Mojica.png
/3rd year shits
/Abukenyo Dota 1 Complete w AI & DR
/ADET Quiz Game
/ATK V HUB.lnk
/CafeSync-Finals-Capstone-Documentation.docx
/CafeSync-Finals-Capstone-Documentation.pdf
/Claude (1).lnk
/Claude.lnk
/confidentiality_letter_for_client.docx
/desktop.ini
/Docker Desktop.lnk
/Games
/IDs - Copy.pdf
/IDs.docx
/IDs.pdf
/JIRR-APPLICANT-MANAGEMENT-SOFTWARE (need quick revision).docx
/Left 4 Dead 2.url
/Messenger.lnk
/Optimize
/Peace.lnk
/print documents for client visit.docx
/print documents for client visit.pdf
/pro-icon real.ico
/Productivity
/Programming
/School files
/school id front.jfif
/school-icon.ico
/settings real.ico
/Stardew Valley.url
/The Forest.url
/Tiny Tina's Wonderlands.url
/unity hub acc.png
/Visual-C-Runtimes-All-in-One-May-2023
/_
/~$ may citation.docx
/~$5g.docx
/~$ggestion box print.docx
/~$_TP_Techno.docx